@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    /* Arch Linux colors - Light Theme */
    --color-primary: #1793D1;
    --color-primary-light: #55B3E3;
    --color-primary-dark: #0D6A9A;
    --color-secondary: #333333;
    --color-secondary-light: #555555;
    --color-secondary-dark: #222222;
    --color-accent: #1793D1;
    --color-accent-light: #55B3E3;
    --color-accent-dark: #0D6A9A;

    --color-background: #ffffff;
    --color-background-alt: #f3f4f6;
    --color-text: #333333;
    --color-text-muted: #666666;
    --color-border: #e5e7eb;
}

.dark {
    /* Arch Linux colors - Dark Theme */
    --color-primary: #1793D1;
    --color-primary-light: #55B3E3;
    --color-primary-dark: #0D6A9A;
    --color-secondary: #CCCCCC;
    --color-secondary-light: #EEEEEE;
    --color-secondary-dark: #AAAAAA;
    --color-accent: #55B3E3;
    --color-accent-light: #7FC8EB;
    --color-accent-dark: #1793D1;

    --color-background: #121822;
    --color-background-alt: #1E2736;
    --color-text: #F8F9FA;
    --color-text-muted: #ADB5BD;
    --color-border: #2A3441;
}

@layer base {
    body {
        background-color: var(--color-background);
        color: var(--color-text);
    }
}
