---
import SectionHeader from "../SectionHeader.astro";
---

<section id="about" class="py-20 px-4 md:px-12">
  <SectionHeader title="About" />
  <div class="max-w-4xl mx-auto flex flex-col md:flex-row items-center justify-center gap-30 relative">
    <div class="absolute flex items-start md:items-center justify-center md:justify-start inset-0 z-0 font-mono">
      <span class="md:ml-18 text-[230px] md:text-[350px] text-alt/60">{"</>"}</span>
    </div>
    <div
      class="z-10 hidden md:flex flex-shrink-0 items-center justify-center w-48 h-48 md:w-64 md:h-64 bg-gradient-to-br from-accent to-accent-blue mb-8 md:mb-0">
    </div>
    <div class="z-10 flex-1 flex flex-col items-center md:items-start text-center md:text-left max-w-lg">
      <p class="mb-4">
        <span class="font-black text-white">FullStack Developer</span> con mas de nueve años de experiencia en el
        desarrollo y soporte de sistemas web.
      </p>
      <p class="mb-4">
        Me apasiona crear soluciones innovadoras y eficientes con tecnologías como
        <span class="font-black">Astro, Vue, Laravel, y otros frameworks PHP</span>.
        Actualmente trabajo en Polimundo, una empresa dedicada al turismo.
      </p>
      <p class="mb-4">
        En mi rol actual, participo en el diseño, desarrollo, implementación y mantenimiento de diversas aplicaciones
        web, utilizando herramientas como <strong>Vue, Vitest, Sass, Laravel, Docker, Git, Bitbucket y Github</strong>.
      </p>
      <p>
        Me gusta trabajar en equipo, siempre dispuesto a ayudar y aprender. Mi objetivo es seguir creciendo como
        profesional y aportar valor a mi organización y a la sociedad.
      </p>
    </div>
  </div>
</section>
