---
const techs = [
  "laravel",
  "filament",
  "mysql",
  "mongodb",
  "vuejs",
  "inertia",
  "livewire",
  "pinia",
  "tailwindcss",
  "vite",
  "typescript",
  "docker",
  "git",
  "github",
  "bitbucket",
  "bootstrap",
  "devops",
  "programming"
];
---

<div class="w-full border-y-2 border-alt pt-6 pb-5 font-mono snap-center overflow-x-auto">
  <div class="flex gap-6 justify-center items-center min-w-max px-4 text-muted font-semibold tracking-wide text-sm md:text-xl uppercase whitespace-nowrap">
    {techs.map((tech, idx) => (
      <>
        <span>{tech}</span>
        {idx < techs.length - 1 && <span>/</span>}
      </>
    ))}
  </div>
</div> 