---
const { title } = Astro.props;
---
<div class="flex justify-center mb-20">
  <h2 class="text-4xl md:text-5xl font-bold text-left text-white">
    {title}<span class="text-accent">.</span>
  </h2>
</div>